*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 2rem;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin: 2rem;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 20rem;
    border: 1px black solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card > *{
    margin-bottom: 1rem;
}